html,
body {
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: block;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu-left {
    padding: 5px;
}

.menu-middle {
    padding: 5px;
}

.logo {
    height: 55px;
}

.menu-right {
    padding: 5px;
}

.top-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}