html,
body {
    margin: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1rem;
    font-weight: 800;
}

p {
    font-size: .8rem;
}

.subtitle {
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    font-size: .8rem;
}

img {
    max-height: 375px;
}

.header {
    display: block;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu-left {
    padding: 5px;
}

#hamburger-menu-icon {
    font-size: 2.5rem;
}

.menu-middle {
    padding: 5px;
}

.logo {
    height: 55px;
}

.menu-right {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 15px;
}

#search-icon {
    font-size: 2.5rem;
    margin-right: 25px;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.top-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
    max-width: 430px;
}

.free-offer-button {
    outline: none;
    border: none;
    margin: 30px;
    padding: 1rem;
    background-color: #d18c71;
    color: white;
    font-weight: 200;
}

.middle-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: whitesmoke;
}

.minnows-treats-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.minnows-treat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.bottom-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
}

#bottom-right-li-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#bottom-right-li-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#bottom-right-li-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .top-section, .bottom-section {
      flex-direction: column;
    }